body {
  padding: 0;
  margin: auto;
  background-image:;
  font-family: Arial, Helvetica, sans-serif;
}
.my_form {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgb(39, 37, 37);
  text-align: center;
  transform: translate(-50%, -50%);
  
}
.my_form h1 {
  text-transform: uppercase;
  color: whitesmoke;
  text-weight: 100;
}
.my_form input[type="email"],
.my_form input[type="passward"] {
  border: 0;
  background: none;
  display: block;
  color: white;
  border-radius: 24px;
  border: 2px solid #34495e;
  transition: 0.25s;
  outline: none;
  width: 200px;
  padding: 14px 10px;
  text-align: center;
  margin: 20px auto;
}
.my_form input[type="email"]:focus, .my_form input[type="passward"]:focus{
    width:280px;
    background: #08fd97;
}
.my_form input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  color: white;
  border-radius: 24px;
  border: 2px solid #08fd97;
  transition: 0.25s;
  outline: none;
  width:100 px;
  padding: 14px 40px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}
.my_form input[type="submit"]:hover{
    background:#08fd97;
}

